nav {
	margin-top: 40px;
}

nav a {
	color: #111;
	font-size: 16px;
	margin-right: 40px;
	text-decoration: none;
}

nav a:hover {
	color: #1B50C0;
}

.selected {
	color: #1B50C0;
}

@media screen and (max-width: 1024px) {
	nav {
		margin-top: 0;
	}

	nav a {
		margin-right: 16px;
	}

	.navbar-desktop {
		display: none;
	}	
}