.quest .icon {
	color: #333;
	margin-right: 8px;
}

.quest-infobar {
	display: flex;
	max-width: 480px;
	justify-content: space-between;
}

.quest-infobar-dueDate {
	flex: 1;
}

.quest-infobar-mandatory {
	flex: 1;	
}

.quest-infobar-points {
	flex: 1;
}

.quest-content p {
	margin-bottom: 32px;
}

.submitted-info .icon {
	color: #1b50c0;
}

.quest-state .submission-date{
	margin-left: 12px;
}

.quest-content-wrapper {
	display: flex;
	border-bottom: 1px solid #ddd;
	margin: 32px 0;
}

.quest-content {
	flex: 2;
}

.quest-state {
	flex: 1;
}

.quest-state h1 {
	margin: 8px 0 24px;
	font-size: 1.6rem;
}

.quest-state p {
	margin: 8px 0;
}