.course .informaitons p {
	margin-bottom: 32px;
}

.course .announcements {
	margin-top: 32px;
}

.course .announcement {
	width: 75%;
	border: 1px solid #ddd;
	padding: 8px 16px;
	height: 50px;
	margin-bottom: 8px;
	transition: box-shadow .3s;
	cursor: pointer;
}

.course .announcement:hover {
	box-shadow: 0 0 12px 2px #ddd;
}

@media screen and (max-width: 576px) {
	.course .announcement {
		width: 100%;
	}
}