.quest-list-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ddd;
	border-top: none;
	padding: 8px 16px;
	transition: box-shadow .3s;
	cursor: pointer;
}

.quest-list-item:not(.quest-list-item-header):hover {
	box-shadow: 0 0 4px 2px #ddd;
}

.quest-item-name {
	flex: 2;
	text-align: left;
}

.quest-item-maxPoints {
	flex: 1;
	text-align: center;
}

.quest-item-status {
	flex: 1;
	text-align: right;
}

.quest-item-status .icon {
	margin-right: 8px;
}