.leaderboard-item .avatar {
	width: 30px;
	height: 30px;
	border: 1px solid #eee;
	margin-right: 8px;
	vertical-align: middle;
}

.leaderboard-item {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ddd;
	border-top: none;
	padding: 8px 16px;
}

.leaderboard-item-team {
	flex: 2;
	text-align: left;
}

.leaderboard-item-questsSolved {
	flex: 1;
	text-align: center;
}

.leaderboard-item-points {
	flex: 1;
	text-align: right;
}