.leaderboard table {
	border-collapse: collapse;
    width: 100%;
}

.leaderboard td, .leaderboard th {
	border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.leaderboard tr:nth-child(even) {
	background-color: #efefef;
}